<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>

        <th>Value</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(name, value) in billing.billingCycle.credits">
        <td>
          <input ng-model="name" class="form-control" placeholder="Informe o nome" ng-readonly="billing.tabDelete">
        </td>
        <td>
          <input ng-model="value" class="form-control" placeholder="Informe o valor" ng-readonly="billing.tabDelete"
            type="number">
        </td>

        <td>
          <button class="btn btn-success" ng-click="billing.addCredit($index)" ng-class="{disabled: billing.tabDelete}">
          </button>

          <button class="btn btn-warning" ng-click="billing.cloneCredit($index, credit)"
            ng-class="{disabled: billing.tabDelete}">
          </button>

          <button class="btn btn-danger" ng-click="billing.deleteCredit($index)"
            ng-class="{disabled: billing.tabDelete}">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>