<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>

        <th>Value</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="credit in billing.billingCycle.credits">
        <td>
          <input ng-model="credit.name" class="form-control" placeholder="Informe o nome"
            ng-readonly="billing.tabDelete">
        </td>
        <td>
          <input ng-model="credit.value" class="form-control" placeholder="Informe o valor"
            ng-readonly="billing.tabDelete" type="number">
        </td>
        <td class="table-actions">
          <button class="btn btn-success" ng-class="{disabled: billing.tabDelete}">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-warning" ng-class="{disabled: billing.tabDelete}">
            <i class="fa fa-clone"></i>
          </button>
          <button class="btn btn-danger" ng-class="{disabled: billing.tabDelete}">
            <i class="fa fa-danger"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>