<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>

        <th>Value</th>

        <th>Status</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(name, value, status) in billing.billingCycle.debts">
        <td>
          <input ng-model="name" class="form-control" placeholder="Informe o nome" ng-readonly="billing.tabDelete"
            type="text">
        </td>
        <td>
          <input ng-model="value" class="form-control" placeholder="Informe o valor" ng-readonly="billing.tabDelete"
            type="number">
        </td>
        <td>
          <input type="text" ng-model="status" class="form-control" placeholder="Informe o status">
        </td>
        <td>
          <button ng-click="billing.addDebt($index)" class="btn btn-success" ng-class="{disabled: billing.tabDelete}">
            <i class="fa fa-plus"></i>
          </button>
          <button ng-click="billing.cloneDebt($index, debt)" class="btn btn-warning"
            ng-class="{disabled: billing.tabDelete}">
            <i class="fa fa-clone"></i>
          </button>
          <button ng-click="billing.deleteDebt($index)" class="btn btn-danger" ng-class="{disabled: billing.tabDelete}">
            <i class="fa fa-danger"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>